*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 800px;
    margin: 0 auto;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
  
td{
    border: 2px solid black;
}
  
th, td {
    padding: 10px;
}

img{
    height: 90vh;
}

button{
    width: 25%;
    height: 50px;
    color: wheat;
    font-size: 1.2em;
    background: rgb(2, 182, 23);
    border: none;
}
